thead {
    background-color: #fcf8e3;
}

.btn-primary {

}

.preparation {
    text-align: justify;
}

.navbar {
    background-color: #DFFBFF;
    background-image: -webkit-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -moz-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -ms-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -o-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: linear-gradient(to bottom, #DFFBFF, #CBE3E7);

}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    font-weight: bolder;
    color: black;
}

.dropdown-menu {
    background-color: #DFFBFF;
    background-image: -webkit-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -moz-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -ms-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: -o-linear-gradient(top, #DFFBFF, #CBE3E7);
    background-image: linear-gradient(to bottom, #DFFBFF, #CBE3E7);
}

.dropdown-item:hover {
    font-weight: bolder;
    background-color: transparent;
}

/*.navbar-brand:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
}*/
body {
    background-color: #E5E5E5;

}

label.avatar-selector > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label.avatar-selector > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}

label.avatar-selector > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #CBE3E7;
    border-radius: 15px;
    -webkit-filter: none;
    filter: none;
    background-color: #CBE3E7;
}

#smallImg {
    width: 30px;
    height: 30px;
}

#fName {
    width: 30%;
}

#ingredients {
    width: 20%;
    height: 150px;
}

#preparation {
    width: 50%;
    height: 200px;
}

label.rate > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label.rate > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    width: 25px;
    height: 25px;

}

label.rate > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #CBE3E7;
    border-radius: 100px;
    -webkit-filter: none;
    filter: none;
    background-color: #CBE3E7;
}

#comment {
    width: 50%;
}

#commentTable {
    width: 60%;
    border-radius: 25px;
}

.form-control {
    border-radius: 25px;
}
